body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
    margin: 0;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 5px;
    width: 300px;
    max-width: 100%;
    border: 18px solid hsl(0, 0%, 100%);
    position: relative;
}

/* 
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 16px 32px rgba(0, 0, 0, 0.2);
} */

.card:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 14px solid hsl(0, 0%, 3%);
    border-radius: 15px;
    z-index: -1;
}

.card-image {
    width: 100%;
    border-radius: 10px;
}

.card-content {
    padding: 20px;
    text-align: start;
}

.badge {
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 7%, 3%);
    border: none;
    border-radius: 5px;
    padding:10px 20px;
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-right:500px;
}

.publish-date {
    font-size: 12px;
    color: hsl(0, 0%, 2%);
    margin: 10px 0;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: hsl(0, 0%, 7%);
    margin: 20px 0 10px;
    transition: color 0.3s ease;
}

.card-title:hover {
    color: hsl(47, 88%, 63%);
}

.card-description {
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 50%);
    margin: 0 0 20px;
}

.author {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-name {
    font-size: 14px;
    color: hsl(0, 0%, 7%);
    font-weight: bolder;
}

.card-button {
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
@media (min-width: 768px) {
    .card {
        width: 400px;
    }
}

